BasedOnStyle: Google
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^"'
    Priority:        1
  - Regex:           '^<'
    Priority:        2
  - Regex:           '.'
    Priority:        3
