# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
build
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

.vscode

CMakePresets.json

add-copyright.sh

assets

data/*
!data/.gitkeep

*.egg-info
myenv
dist
__pycache__

.cache

.xmake

*.model

docs
